/*----------Globals----------*/
html, body, .container-fluid {
    height:100%;
}


/*----------Headings----------*/
h2 {
    margin-top: 0 !important;
    text-align: center;
}

h4 {
    font-size: 14px;
}

/*----------Header----------*/
body > header {
    height: 90%;
}
.navbar-default,
.jumbotron-fluid {
    margin-bottom: 0 !important;
}

/*----------Main----------*/
main {
    height: 70%;
}

/*----------Navbar----------*/

#main-navigation {
    background: #136eb4;
}


#main-navigation a {
    color: #fff !important;
}

/*----------Jumbotron----------*/
.jumbotron-fluid {
    background-image: url("../images/1-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #136eb4;
}

/*----------About----------*/
#about {
    background: #136eb4;
    color: #fff;
    height: 55%;
    line-height: 50px;
}

/*----------Gallery----------*/
#gallery {
    color: #136eb4;
}

#gallery img {
    width: 90%;
    height: 60%;
}

/*----------Services----------*/
#services,
#services .list-group-item {
    background: #136eb4;
}

#services {
    color: #fff;
    height: 55%;
}

#services .list-group-item {
    text-align: center;
}

/*----------Collaborators----------*/
#collaborators {
    height: 550px;
    color: #136eb4;
}

#collaborators .caption {
    text-align: center;
}

/*----------Contacts----------*/
#contacts {
    background: #136eb4;
    color: #fff;
    height: 55%;
}

/*----------Footer----------*/
.footer {
    width: 100%;
    background: #252525;  
    height: 40%;
}

.footer .opening-time {
    color: #fff;
    border: 1px solid #fff;
    font-size: 12px;
}

.footer .opening-time dl {
    border: 1px solid white;
    border-collapse: collapse;
    margin-bottom: 0;
}
