/*----------Globals----------*/
html, body, .container-fluid {
    height:100%;
}

main section:nth-child(even){
    height: 70%;
    background: #fff !important;
    color: #136eb4 !important;
}

main section:nth-child(odd){
    padding: 20px;
    height: 30%;
    background: #136eb4 !important;
    color: #fff !important;
}

/*----------Headings----------*/
h2 {
    margin-top: 0 !important;
    text-align: center;
}

h4 {
    font-size: 14px;
    margin-left: 25px;
}

/*----------Header----------*/
body > header {
    height: 90%;
}

.navbar-default,
.jumbotron-fluid {
    margin-bottom: 0 !important;
}

/*----------Navbar----------*/

#main-navigation {
    background: #136eb4;
}

    #main-navigation a {
        color: #fff !important;
    }

/*----------Jumbotron----------*/
.jumbotron-fluid {
    background-image: url("../img/1-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #136eb4;
}

/*----------About----------*/
#about {
    line-height: 50px;
}

/*----------Gallery----------*/
#gallery {
    width: 100%;
}

/*----------Services----------*/
#services {
    color: #fff;
}

    #services .list-group-item  {
        background: #136eb4;
        text-align: center;
    }


/*----------Collaborators----------*/
#collaborators .caption {
    text-align: center;
}

/*----------Contacts----------*/
input[type="submit"] {
    margin-left: 30%;
    width: 40%;
}

/*----------Footer----------*/
.footer {
    width: 100%;
    background: #252525; 
    color: #fff;
}

#info,
#opening-time,
#facebook {
    margin-top: 2%;
}

#info {
    padding-top: 2%;
    width: 25%;
}

#facebook > iframe {
    height: 250px;
    margin-left: 12%;
}

#opening-time {
    padding-top: 1%;
    font-size: 12px;
    border: 1px solid #fff;
    width: 200px;
    margin-left: 15%;
}

    #opening-time dl {
        margin: 5px;
        float: right;
    }

        #opening-time dl:last-of-type {
            margin-right: 40px;
        }

#copyright {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #aaa;
}