/*Colors
#FFA1B0 - bright pink
#136eb4 - blue
#FF00FF - magenta
#E951FF - light magenta*/

/*----------Globals----------*/
html, body, .container-fluid {
    height:100%;
}

/*----------Main Sections----------*/
main section:nth-child(odd),
main section:nth-child(even) {
    padding: 1%;
}

main section:nth-child(even),
.jumbotron-fluid {
    color: #E951FF;
}

main section:nth-child(odd),
#main-navigation,
#services .list-group-item {
    background: #E951FF;
}

main section:nth-child(even){
    height: 70%;
    background: #fff !important;
}

main section:nth-child(odd){
    height: 30%;
    color: #fff !important;
}

/*----------Headings----------*/
h2 {
    margin-top: 0 !important;
    text-align: center;
}

h4 {
    font-size: 14px;
    margin-left: 25px;
}

/*----------Header----------*/
body > header {
    height: 90%;
}

.navbar-default,
.jumbotron-fluid {
    margin-bottom: 0 !important;
}

/*----------Navbar----------*/
#main-navigation a {
    color: #fff !important;
}

#main-navigation li:hover, active,
.list-group-item:hover, active {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

/*----------Jumbotron----------*/
.jumbotron-fluid {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/seventh-haircut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.display-3 {
    padding-top: 15%;
}

/*----------About----------*/
#about {
    line-height: 50px;
}

/*----------Gallery----------*/
#gallery {
    width: 100%;
}
    #gallery .gallery-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

#gallery .previous-image img,
#gallery .next-image img {
    height: 250px;
}

#gallery .current-image img{
    max-height: 350px;
}

/*----------Services----------*/
#services {
    color: #fff;
}

    #services .list-group-item  {
        text-align: center;
    }


/*----------Collaborators----------*/
#collaborators .caption {
    text-align: center;
}

/*----------Contacts----------*/
input[type="submit"] {
    margin-left: 30%;
    width: 40%;
}

#map {
    width: 100%
}

#map iframe {
    margin-top: 12px;
    height: 450px;
    width: 100%;
    border: none;
}

/*----------Contacts-Error----------*/
#contact-form span.required-star,
#contact-form .error {
    color: #FF426C;
}

div.form-group > span {
    display: inline-block;
    text-align: center;
    width: 100%
}

/*----------Captcha----------*/
.g-recaptcha {
    margin-left: 3.8%;
    margin-top: 2%;
}

/*----------Footer----------*/
.footer {
    width: 100%;
    background: #252525; 
    color: #fff;
}

#info,
#opening-time,
#facebook {
    margin-top: 2%;
}

#info {
    padding-top: 2%;
    width: 25%;
}

#facebook > iframe {
    height: 250px;
    margin-left: 12%;
    width: 340px;
    border: none;
    overflow:hidden;
}

#opening-time {
    padding-top: 1%;
    font-size: 12px;
    border: 1px solid #fff;
    width: 200px;
    margin-left: 15%;
}

    #opening-time dl {
        margin: 5px;
        float: right;
    }

        #opening-time dl:last-of-type {
            margin-right: 40px;
        }

#copyright {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #aaa;
}