<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="haircut, make-up, manicure, teaching, hairdresser, Sofia, hairdressing salon, прическа, грим, маникюр, обучаване, фризьор,
          София, фризьорски салон, боядисване, Галиция, pricheska, grim, manikiur, obuchavane, frizior, friziorski salon, Galiciq"
    />

    <meta name="description" content="Искате ли да станете фризьор? Елате в Галиция. Прическа, боядисване, маникюр или грим - ние ще Ви обучим във всичко. 
          А и фризьорският салон се намира на много удобно място - в центъра на София." />

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/site.css" type="text/css">
    <link rel="stylesheet" href="css/queries.css" type="text/css">
    <link rel="stylesheet" href="css/gallery.css" type="text/css">

    <title>Учебен център "Галиция"</title>
</head>

<body>
    <header>
        <nav id="main-navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Учебен център "Галиция"</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Начало</a></li>
                        <li><a class="js-scroll-to-about" href="#">За нас</a></li>
                        <li><a class="js-scroll-to-gallery" href="#">Галерия</a></li>
                        <li><a class="js-scroll-to-services" href="#">Услуги</a></li>
                        <li><a class="js-scroll-to-collaborators" href="#">Партньори</a></li>
                        <li><a class="js-scroll-to-contacts" href="#">Контакти</a></li>
                        <li><a class="js-scroll-to-map" href="#">Местоположение</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div id="info" class="col-xs-offset-1  col-xs-2">
                    <ul>
                        <li>
                            <strong>Адрес:</strong>
                            <p>София, ул. "Париж" №15</p>
                        </li>
                        <li>
                            <strong>Телефон:</strong>
                            <p>089-759-1526</p>
                        </li>
                        <li>
                            <strong>И-мейл:</strong>
                            <p>galiciqAcademy@abv.bg</p>
                        </li>
                    </ul>
                </div>
                <div id="facebook" class="col-xs-offset-1 col-xs-4">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%D0%A3%D1%87%D0%B5%D0%B1%D0%B5%D0%BD-%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%80-%D0%93%D0%B0%D0%BB%D0%B8%D1%86%D0%B8%D1%8F-365376806817513%2F&tabs=timeline&width=340&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId">
                    </iframe>
                </div>
                <div id="opening-time" class="col-xs-offset-1 col-xs-1">
                    <h4>РАБОТНО ВРЕМЕ</h4>
                    <dl>
                        <dt>Вторник</dt>
                        <dd>09:00 - 19:00</dd>
                    </dl>
                    <dl>
                        <dt>Понеделник</dt>
                        <dd>09:00 - 19:00</dd>
                    </dl>
                    <dl>
                        <dt>Четвъртък</dt>
                        <dd>09:00 - 19:00</dd>
                    </dl>
                    <dl>
                        <dt>Сряда</dt>
                        <dd>09:00 - 19:00</dd>
                    </dl>
                    <dl>
                        <dt>Събота</dt>
                        <dd>10:00 - 18:00</dd>
                    </dl>
                    <dl>
                        <dt>Петък</dt>
                        <dd>9:00 - 19:00</dd>
                    </dl>
                    <dl>
                        <dt>Неделя</dt>
                        <dd>10:00 - 16:00</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div id="copyright" class="col-md-12">
                    <p>Design copyright &copy; 2016 Kurtbit Inc. All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="jquery.min.js"></script>
    <script src="jquery.validate.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="js/scrolling.js"></script>
    <script src="js/gallery.js"></script>
    <script src="js/contacts.js"></script>

    {{!--TODO(Domi): Figure out a way to add section scripts!--}}
    <script>
        $(document).ready(function () {
            const SCALE_FACTOR = 4;

            var $images = $("[id^='js-img-']");

            if ($images.length) {
                $images.on('mouseover', function (event) {
                    var $target = $(event.target);

                    var id = $target.attr('id');
                    var imgPreviewId = 'js-img-preview-' + id.substring(17);

                    $('<img>')
                        .attr('src', $target.attr('src'))
                        .attr('id', imgPreviewId)
                        .css({
                            "position": "absolute",
                            "left": $target.position().left - $target.width(),
                            "top": $target.position().top - $target.height(),
                            "width": $target.width() * SCALE_FACTOR,
                            "height": $target.height() * SCALE_FACTOR,
                            "border-radius": "5px"
                        }).appendTo($target.parent());
                });
            };

            $('.img-preview-container').on('mouseleave', function (event) {
                $previewImage = $("[id^='js-img-preview-']");
                if ($previewImage) {
                    $previewImage.remove();
                }
            });
        });
    </script>
</body>

</html>