<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Callendar</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site.css" type="text/css">
    <style>
        [class*='js-cell-'] {
            border: 1px solid black;
            font-size: 12px;
            margin: 10px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="js-calendar">
            {{#each cells}} {{#if (onNthElement @index 7)}} {{#if @index}}
        </div>
        {{/if}}
        <div class="row">
            {{else}}
            <div class="col-xs-2">
                <div class="js-cell-{{@index}}" js-date="{{@index}}.02.2017">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5 class="list-group-item-heading">
                                13:00 - 15:00
                            </h5>
                            <p class="list-group-item-text">
                                Подстригване на степени
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            {{/if}} {{/each}}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="input-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="js-appointment-form">
                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input type="text" class="form-control" id="Name" placeholder="Name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="Email">Email</label>
                                        <input type="text" class="form-control" id="Email" placeholder="Email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="Inputselect">Choose appointment time</label>
                                        <select class="form-control">
                                            <option>13:00</option>
                                            <option>12:00</option>
                                            <option>11:00</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Comment:</label>
                                        <textarea class="form-control" id="comment" name="comment"></textarea>
                                    </div>

                                    <input type="text" style="display: none" name="date">

                                    <button type="submit" class="btn btn-info">Submit Information</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        $("[class*='js-cell-']").on('click', function () {
            $('#input-modal').modal();

            $("#input-modal")
                .find("input[name='date']")
                .val($(this)
                    .attr('js-date'))
        })
    </script>

    <script>
        $('.js-appointment-form').on('submit', function (event) {
            event.preventDefault();

            let $this = $(this);

            let name = $this.find("input[name='name']").val();
            let date = $this.find("input[name='date']").val();
            let email = $this.find("input[name='email']").val();
            let time = $this.find(':selected').text();
            let comment = $this.find("textarea[name='comment']").val();

            $.ajax({
                type: 'POST',
                url: '/callendar/add',
                data: {
                    'name': name,
                    'date': date,
                    'email': email,
                    'time': time,
                    'comment': comment
                },
                success: function (data) {
                    console.log(data);
                    $('#input-modal').modal('hide');
                },
                error: function (err) {
                    console.log(err);
                }
            })
        })
    </script>
</body>

</html>