<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Callendar</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site.css" type="text/css">
</head>

<body>
    <div class="js-calendar">
        {{foo}}
        {{#each cells}}
        <div class="col-xs-1">
            {{this}}
        </div>
        {{/each}}
    </div>

    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>

    </script>
</body>

</html>