<section id="galery-admin">
    <div class="container-fluid header-fix">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <h2>Управлявай Галерията</h2>
                </div>
                <div class="col-xs-6">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Добави снимка</button>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Качи изображението</h4>
                                </div>
                                <div class="modal-body">

                                    <form id="upload-image" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Път към изображението</label>
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                        Избери... <input type="file" name="galery-image" id="imgInp">
                                                </span>
                                                </span>
                                                <input type="text" name="img-url" class="form-control" readonly>
                                            </div>
                                            <img id='img-upload' />
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <button type="submit" id="upload-image-submit" class="btn btn-primary">Качи</button>
                                            </div>

                                            <div class="col-md-offset-8 col-md-2">
                                                <div class="pull-right">
                                                    <div class="loader" style="display: none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal">Затвори</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Search Box --}}
                <div class="col-xs-6 pull-right text-right">
                    <label for="search">Търси:</label>
                    <input type="text" name="search" id="search" />
                </div>
            </div>
            <hr>

            <button style="display: none" class="js-collapse-trigger"></button>

            <div class="js-galery-images-collapsible">
                <div class="row">

                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Име</th>
                                    <th>Преглед</th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                            <tbody class="js-galery-images-collapsible-body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>