<section id="jumbotron" class="js-jumbotron">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
            <h1 class="display-3">Учебен център "Галиция"</h1>
            <p class="lead">Красота, стил, въобръжение, изкуство.</p>
        </div>
    </div>
</section>

<section id="about" class="js-about">
    <h2>За нас</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <p>
                    Искате да започнете професионалното си развитие в този бранш? Значи сте на правилното място! Ние обучаваме курсисти за фризьори,
                    маникюристи и гримьори. Материалите са от нас. Но това, което ни отличава от останалите, на първо място
                    е, че обучението се осъществява не на кукли, а на истински клиенти! Това не означава обаче, че сме склонни
                    да правим компромиси с качеството - напротив. Нашият приветлив екип от професионалисти стриктно следи
                    за правилното изпълнение на всяка една поръчка. За това могат да гарантират и едни от най-популярните
                    салони, с утвърдено име на пазара, които се спират на избора си на фризьори при нас. Пък и сме на много
                    удобно място - в самия център на София. Заповядайте при нас! При работата си залагаме на усмивките на
                    клиентите и на качественото обслужване.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="gallery" class="js-gallery">
    <header>
        <h2>Галерия</h2>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <div class="gallery-list">
                    <div class="image-container">
                        <img src="img/first-haircut.jpg" alt="first-haircut" data-info="1" />
                    </div>
                    <div class="image-container">
                        <img src="img/third-haircut.jpg" alt="third-haircut" data-info="2" />
                    </div>
                    <div class="image-container">
                        <img src="img/fourth-haircut.jpg" alt="fourth-haircut" data-info="3" />
                    </div>
                    <div class="image-container">
                        <img src="img/sixth-haircut.jpg" alt="sixth-haircut" data-info="4" />
                    </div>
                    <div class="image-container">
                        <img src="img/second-haircut.jpg" alt="second-haircut" data-info="5" />
                    </div>
                    <div class="image-container">
                        <img src="img/fifth-haircut.jpg" alt="fifth-haircut" data-info="6" />
                    </div>
                    <div class="image-container">
                        <img src="img/second-haircut.jpg" alt="second-haircut" data-info="7" />
                    </div>
                    <div class="image-container">
                        <img src="img/fifth-haircut.jpg" alt="fifth-haircut" data-info="8" />
                    </div>
                </div>
                <div class="selected">
                    <div class="previous-image">
                        <img src="img/first-haircut.jpg" alt="first-haircut" id="previous-image" />
                    </div>
                    <div class="current-image">
                        <img src="img/fourth-haircut.jpg" alt="fourth-haircut" id="current-image" />
                    </div>
                    <div class="next-image">
                        <img src="img/sixth-haircut.jpg" alt="sixth-haircut" id="next-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="js-services">
    <header>
        <h2>Услуги</h2>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item">Услуга: 50лв.</li>
                    <li class="list-group-item">Услуга: 50лв.</li>
                    <li class="list-group-item">Услуга: 50лв.</li>
                    <li class="list-group-item">Услуга: 50лв.</li>
                    <li class="list-group-item">Услуга: 50лв.</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item">Услуга: 50лв.</li>
                    <li class="list-group-item">Услуга: 50лв.</li>
                    <li class="list-group-item">Услуга: 50лв.</li>
                    <li class="list-group-item">Услуга: 50лв.</li>
                    <li class="list-group-item">Услуга: 50лв.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="collaborators" class="js-collaborators">
    <header>
        <h2>Партньори</h2>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/seventh-haircut.jpg" alt="Салон 1">
                    <div class="caption">
                        <h3>Примерен салон</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/seventh-haircut.jpg" alt="Салон 2">
                    <div class="caption">
                        <h3>Примерен салон</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/seventh-haircut.jpg" alt="Салон 3">
                    <div class="caption">
                        <h3>Примерен салон</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="contacts" class="js-contacts">
    <header>
        <h2>Контакти</h2>
    </header>
    <form method="POST" id="contact-form">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="form-group">
                        <label for="contacts-form-name"><span class="required-star">*</span>Име:</label>
                        <input type="text" class="form-control" name="contacts-name" id="contacts-form-name">
                    </div>

                    <div class="form-group">
                        <label for="contacts-form-email"><span class="required-star">*</span>И-мейл:</label>
                        <input type="email" class="form-control" name="contacts-email" id="contacts-form-email">
                    </div>

                    <div class="form-group">
                        <label for="contacts-form-phone"><span class="required-star">*</span>Телефон:</label>
                        <input type="tel" class="form-control" name="contacts-phone" id="contacts-form-phone">
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label for="contacts-form-content"></label>
                        <textarea class="form-control" rows="8" name="contacts-content" id="contacts-form-content" placeholder="Напишете вашето съобщение тук!"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <div id="captcha" class="g-recaptcha" data-sitekey="6Lc8LxkUAAAAAC0x-oLU_n5oUXxxBjTUIOpwhHSm"></div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input type="submit" value="Изпрати" class="btn btn-lg btn-default" id="contacts-form-submit">
                </div>
            </div>
        </div>

    </form>
</section>

<section id="map" class="js-map">
    <header>
        <h2>Местоположение</h2>
    </header>
    <div class="container-fluid">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d308.2091291281821!2d23.33023927369054!3d42.699572280533374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa857ab1866193%3A0x8c1a352f813132f8!2z0YPQuy4g4oCe0J_QsNGA0LjQtiIgMTUsIDEwMDAg0KHQvtGE0LjRjw!5e0!3m2!1sbg!2sbg!4v1471472848326"
                allowfullscreen></iframe>
        </div>
    </div>
</section>